/* Measure */

.measure {
    position: relative;
}

svg.staff {
    overflow: visible;
    stroke: none;
    fill: #333;
}

.overflow {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255,48,0,0.25);
    z-index: -1;
}
