/* Dial */

.dial {
    pointer-events: none;
    cursor: pointer;
    margin-left: -150%;
    margin-top: -150%;
    position: relative; /* for z-index */
    filter: url(#SVG_HUD_Filter);
    z-index: 0;
}

.dial.active {
    z-index: 1;
}

.dial > svg {
    fill: inherit;
}

.dial.active circle.outer {
   pointer-events: all;
}

g.collar {
    opacity: 0;
    transform: scale(0.35);
    transition: transform 200ms;
}

circle.outer {
    fill: rgba(42, 40, 48, 0.1);
}

.dial.active circle.outer,
.dial.active ul.collar {
    visibility: visible;
}

.dial.active g.collar {
    transform: scale(1);
    opacity: 1;
}

circle.inner {
    /*fill:  rgba(255,255,255,0.8);*/
    fill: none;
    pointer-events: all;
}

circle.ring {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
}

path.sector {
    fill: none;
    cursor: pointer;
}

path.sector.active {
    stroke: currentColor;
}

.face {
    fill: black;
    stroke: none;
    stroke-width: 1;
}

.value {
    fill: #3e3e3e;
}

.viewValue {
    user-select: none;
    fill: currentColor;
}

.option .viewValue {
    font-size: 75%;
}

.viewValue svg {
    fill: currentcolor;
}
