/* Dial */

.dial {
    stroke: rgba(255, 255, 255, 0.2);
    fill: #464245;
}

.collar {
    opacity: 0;
    fill: white;
    stroke: white;
    pointer-events: none;
}

.collar.active {
    opacity: 1;
}

.collar > circle {
    fill: rgba(32, 32, 32, 0.2);
    stroke: black;
}

.face {
    fill: black;
    stroke: #ffffc3;
    stroke-width: 1;
}

.value {
    fill: #ffffc3;
    stroke: #ffffc3;
}

.tick {
    stroke : #ffffc3;
    stroke-width: 3;
}

.thumb {
    fill: rgba(255,255,255,0.2);
    stroke: #ffffc3;
}

.track {
    fill: rgba(255,255,195,0.2);
    stroke: white;
    visibility: hidden;
}

.track.active {
    visibility: visible;
}
