/* Editor */

.editor {
    position: relative;
}

.ruler {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ruler rect {
    fill: #d4e6f5;
}

.selection {
    position: absolute;
    top: 0;
    left: 0;
    cursor: cell;
    fill: #d4e6f5;
}
