/* App */

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 100; /* for child frame */
    position: relative;
    background: #f8f8f8;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
}

.body {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.message {
    font-style: oblique;
    color: red;
}

.catalog {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    opacity: 0;
}

.catalog.active {
    display: block;
    opacity: 1;
}

.catalog a {
    cursor: pointer;
}
