/* Dial */

.dial {
    stroke: #f0f0f0;
    fill: white;
    z-index: 1;
    pointer-events: none;
}

.dial.active {
    z-index: 2;
    pointer-events: auto;
}

.collar {
    visibility: hidden;
    opacity: 0;
    fill: white;
    pointer-events: auto;
}

.dial.active .collar {
    visibility: visible;
    opacity: 1;
}

.collar > circle {
    fill: rgba(72, 66, 68, 0.2);
}

.option {
    fill: #484244;
}

.option > circle {
    fill: white;
}

.face {
    fill: black;
    stroke: #ffffc3;
    stroke-width: 1;
}

.value {
    fill: #484244;
    pointer-events: auto;
}

.dial.active .value {
    pointer-events: none;
}

.value > circle {
    fill: #e4e0e4;
    stroke: #68b2f0;
}

.viewValue {
}

.viewValue text {
    user-select: none;
    font-weight: 800;
}
