/* Dial */

.dial {
    position: absolute;
    height: 400%;
    width: 400%;
    top: -150%;
    left: -150%;
    z-index: 1;
    pointer-events: none;
    cursor: pointer;
}

.dial.active {
    z-index: 2;
}

.dial > svg {
    fill: inherit;
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.dial.active circle.outer {
    pointer-events: all;
}

ul.collar {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    z-index: 1;
}

.dial.active > svg,
.dial.active .collar {
    visibility: visible;
}

circle.outer {
    stroke: currentColor;
    fill-opacity: 0.5;
}


circle.inner {
    fill: none;
    stroke: currentColor;
    visibility: visible;
    pointer-events: all;
}

.dial.active circle.inner {
    fill: rgba(255,255,255,0.2);
    opacity: 1;
}

path.sector {
    fill: rgba(255,255,255,0.2);
    cursor: pointer;

}

.option {
    position: absolute;
    top: 50%;
    left: 50%;
}

.option .viewValue {
    display: inline-block;
    position: absolute;
    top: -1em;
    height: 2em;
    width: 4em;
    line-height: 2em;
    left: -2em;
    text-align: center;
}

.face {
    fill: black;
    stroke: none;
    stroke-width: 1;
}

.value {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    line-height: 50px;
}


.viewValue {
    user-select: none;
}

.viewValue > svg {
    display: inline-block;
    height: 80%;
    width: auto;
    margin-right: -10px;
}
