/* Dial */

.dial {
    position: absolute;
    height: 600%;
    width: 400%;
    top: -250%;
    left: -100%;
    z-index: 1;
    pointer-events: none;
}

.dial.active {
    z-index: 2;
    pointer-events: auto;
}

.collar {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    border: solid #f0f0f0;
    border-radius: 50%;
    pointer-events: auto;
}

.dial.active .collar {
    visibility: visible;
    opacity: 1;
}

.option {
    position: absolute;
    top: 50%;
    left: 50%;
}

.option .viewValue {
    display: inline-block;
    position: absolute;
    top: -1em;
    height: 2em;
    width: 4em;
    line-height: 2em;
    left: -2em;
    text-align: center;
}

.option > circle {
    fill: white;
}

.face {
    fill: black;
    stroke: none;
    stroke-width: 1;
}

.value {
    position: absolute;
    right: 50%;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    text-align: center;
    padding-right: 10px;
    pointer-events: auto;
    line-height: 50px;
}

.dial.active .value {
    pointer-events: none;
}

.value > circle {
    fill: ;
    stroke: #68b2f0;
}

.viewValue > svg {
    display: inline-block;
    height: 80%;
    width: auto;
    margin-right: -10px;
}

.viewValue > svg text{
    user-select: none;
}

