/* Editor */

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 100;
    position: relative;
    z-index: 1;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a1b1ff;
    mix-blend-mode: lighten;
}

.editor {
    font-size: 20px;
    position: relative;
    margin: 30px auto;
    /* background: white;           */
    border-radius: 4px;
    /* box-shadow: 0 0 60px 60px white; */
    overflow: visible;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.understaff,
.underharmony {
    fill-opacity: 0.2;
}

.notearea,
.harmonyarea {
    stroke: none;
    fill: rgba(255,255,255,0.01);
}

.notearea {
    cursor: cell;
}

.harmonyarea {
    cursor: pointer;
}

.ruler {
    position: absolute;
    top: 0;
    left: 0;
}

.ruler rect {
    fill: #d4e6f5;
    stroke: none;
}

.ruler .margins rect {
    fill: #eee8c0;
}

.ruler .overflow rect {
    fill: rgba(255,48,0,0.25);
}

.selection {
    fill: none;
    stroke:  #5f78f9;
    pointer-events: none;
}

.pitchLevel {
    stroke: none;
    fill: rgba(32,240,0,0.1);
    pointer-events: none;
}

.controls {
    font-size: 20px;
    user-select: none;
    fill: #5f78f9;
    overflow: visible;
    z-index: 1;
}


.inplace {
    fill: #5f78f9;
    color: #5f78f9;
    pointer-events: none;
    overflow: visible;
}


/* Inline #8 | http://localhost:8080/ */

.navigation text {
  text-anchor: middle;
  text-align: center;
  transform: translate(0,6px);
}


.navigation {
    font-size: 20px;
    fill: #5f78f9;
    pointer-events: none;
}

.navigation > .previous  {
    transform: translate(0, 65%);
}

.navigation > .previousNew  {
    transform: translate(0 35%);
}

.navigation > .next  {
    transform: translate(100%, 65%);
}

.navigation > .nextNew  {
    transform: translate(100%, 35%);
}

.navigation > .cancel  {
    transform: translate(100%, 0);
}

.navigation > .done  {
    transform: translate(100%, 100%);
}

.navigation > * > *:first-child {
    margin-top: -50%;
}
