/* Editor */

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 100;
    position: relative;
    z-index: 1;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a1b1ff;
    mix-blend-mode: lighten;
}

.editor {
    position: relative;
    margin: 30px auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 60px 60px white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.understaff,
.underharmony {
    fill-opacity: 0.2;
}

.notearea,
.harmonyarea {
    stroke: none;
    fill: rgba(255,255,255,0.01);
}

.notearea {
    cursor: cell;
}

.harmonyarea {
    cursor: pointer;
}

.ruler {
    position: absolute;
    top: 0;
    left: 0;
}

.ruler rect {
    fill: #d4e6f5;
    stroke: none;
}

.ruler .margins rect {
    fill: #eee8c0;
}

.ruler .overflow rect {
    fill: rgba(255,48,0,0.25);
}

.selection {
    fill: none;
    stroke:  #5f78f9;
    pointer-events: none;
}

.pitchLevel {
    stroke: none;
    fill: rgba(32,240,0,0.1);
    pointer-events: none;
}

.controls {
    color: white;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #5f78f9;
    font-size: 20px;
    user-select: none;
    fill: #5f78f9;
    box-shadow: 1px 2px 3px rgba(49, 42, 128, 0.6);
    text-shadow: 1px 2px 3px #312a8099;

}

.controls > li {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 10px;

}

.controls > li > svg {
  position: absolute;
  margin-top: -50%;
  margin-left: -50%;
}

.inplace {
    color: #5f78f9;

}
.inplace > li {
    height: 50px;
    width: 50px;
    position: absolute;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #5f78f9;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    pointer-events: none;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.navigation > li {
  position: absolute;
}

.navigation button {
    font: inherit;
    color: inherit;
    text-shadow: inherit;
    background: none;
    border: none;
    padding: .5em;
    cursor: pointer;
    pointer-events: auto;
}

.navigation > .previous  {
    right: 100%;
    top: 50%;
}

.navigation > .previous > *:first-child {
    margin-top: -50%;
}

.navigation > .next  {
    left: 100%;
    top: 50%;
}

.navigation > .next > *:first-child {
    margin-top: -50%;
}

.navigation > .cancel  {
    right: 100%;
    top: 0;
}

.navigation > .done  {
    left: 100%;
    bottom: 0;
}
