/* Sheet */

.sheet {
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 100; /* for child frame */
    position: absolute;
    width: 100%;
    height: 100%;
}

.pane {
    overflow: auto;
    flex-grow: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 5px;
}

.header.form {
    background: #5f78f9;
    color: white;
    position: absolute;
    width: 100%;
}

.form input {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    text-align: inherit;
    text-decoration: underline;
    text-decoration-style: dashed;
    padding: 0 .5em;
}

.body {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    margin-left: 175px;
    overflow: auto;
}
