/* Harmony */



.harmony {
}

.harmony > * {
    vertical-align: top;
}

.harmony .root {
    font-size: 200%;
}

.root .chromatic {
    font-size: 75%;
}

.chromatic svg,
.alt svg {
    transform: skewX(-10deg);
}

.harmony .kind {
    font-size: 133%;
    letter-spacing: -.04em
}

.kind > * {
    vertical-align: top;
}

.degree {
    font-variant: small-caps;
}

.harmony .degree {
    font-size: 125%;
}

.alt-list {
    display: inline-block;
}

.alt-list > * {
    display: block;
}

.alt {
 /* font-variant: small-caps; */
}

.alt > svg {
    vertical-align: middle;
}

.harmony .over {
  font-size: 150%;
  vertical-align: bottom;
  bottom: -.10em;
  position: relative;
  left: -.20em;
}

.harmony .over .root {
  font-size: 110%;
  position: relative;
  bottom: -.2em;
  left: -.05em
}
