/* Harmony */



.harmony {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    line-height: 1;
    padding: 5px 0;
}

.harmony > * {
    vertical-align: top;
}

.root {
    font-size: 200%;
}

.chromatic {
    font-size: 166%;
}

.kind {
    font-size: 133%;
    letter-spacing: -.04em
}

.degree {
    font-size: 166%;
}

.alt-list {
    display: inline-block;
}

.alt-list > * {
    display: block;
}

.alt {
    font-variant: small-caps;
}
