/* Measure */

.measure {
    position: relative;
}

.staff {
    overflow: visible;
    stroke: currentcolor;
    pointer-events: none;
}

.time {
    overflow: visible;
    font-weight: 700;
    font-size: 20px;
    text-anchor: middle;
}

.key {
    overflow: visible;
}

.clef {
    overflow: visible;
}

.measure > .time,
.measure > .key,
.measure > .clef {
    position: absolute;
    left: 0;
    top: 0;
}
