/* Score */

.title {
    font-weight: 700;
    text-align: center;
}

.parts {
    justify-content: center;
}

dl.stats > * {
    display: inline-block;
}

dl.stats > dd {
    font-weight: bold;
}

dl.stats > * + dd {
    margin-left: .25em;
}

dl.stats > * + dt {
    margin-left: 1em;
}
