/* Score */

.title {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    flex-grow: 1;
    font-variant-caps: small-caps;
}

.parts {
    justify-content: center;
}

dl.stats > * {
    display: inline-block;
}

dl.stats > dd {
    font-weight: bold;
}

dl.stats > * + dd {
    margin-left: .25em;
}

dl.stats > * + dt {
    margin-left: 1em;
}
