/* Score */

.title {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    flex-grow: 1;
    font-variant-caps: small-caps;
}

.parts,
.attribution {
    padding: .5em;
    font-weight: bold;
    font-size: 125%;
    font-variant-caps: small-caps;
}

.attribution {
    text-align: right;
}

.measures {
    justify-content: center;
}
