/* App */

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 100; /* for child frame */
    position: relative;
    background: #f8f8f8;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
}

.body {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}
