/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inherit;
}

body {
    font-family: Kalam, Verdana, Tahoma, sans-serif;
    font-variant-caps: small-caps;
    font-weight: 400;
}

/* Music Symbols is an SVG sprite */

.music-symbols symbol {
    overflow: visible;
}

/* Frame */

.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 100; /* for child frame */
}

.fullscreen-.frame {
    position: fixed;
    width: 100%;
    height: 100%;
}

.frame-body {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

/* Score */

.score-title {
    font-weight: 700;
    text-align: center;
}

.score-parts {
    justify-content: center;
}

dl.score-stats > * {
    display: inline-block;
}

dl.score-stats > dd {
    font-weight: bold;
}

dl.score-stats > * + dd {
    margin-left: .25em;
}

dl.score-stats > * + dt {
    margin-left: 1em;
}

/* Part */

.part {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.part-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part-body {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
}

/* Measure */

.measure {
    position: relative;
}

svg.measure-staff {
    overflow: visible;
    stroke: none;
    fill: #333;
}

.measure-overflow {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255,48,0,0.25);
    z-index: -1;
}

/* MeasureEdit */

.measure-editor {
    position: relative;
}

.measure-ruler {
    position: absolute;
    bottom: 0;
    left: 0;
}

.measure-ruler rect {
    fill: #d4e6f5;
}

.measure-hud {
    position: absolute;
    top: 0;
    right: 0;
    cursor: cell;
}

/* Staff */

.staff {
    stroke-width: 1px;
    stroke: #646464;
}

.staff-barline {
    stroke-width: 2px;
}

/* Note */

.note {
    transition: transform 3s;
}

.note-stem {
    stroke-width: 2px;
    stroke: #333;
    stroke-linecap: round;
}

.note-ledger {
    stroke-width: 3px;
    stroke: #333;
    stroke-linecap: round;
}
