* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

/* Music Symbols is an SVG sprite */

.music-symbols symbol {
    overflow: visible;
}

/* Frame */

.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 100; /* for child frame */
}

.fullscreen-.frame {
    position: fixed;
    width: 100%;
    height: 100%;
}

.frame-body {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

/* Score */

.score-parts {
    justify-content: center;
}

dl.score-stats > * {
    display: inline-block;
}

dl.score-stats > dt {
    font-weight: bold;
}

dl.score-stats > * + dd {
    margin-left: .25em;
}

dl.score-stats > * + dt {
    margin-left: 1em;
}

/* Part */

.part {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.part-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part-body {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Staff */

.staff {
    overflow: visible;
    stroke: none;
    fill: #333;
}

.staff-lines,
.staff-barline {
    stroke-width: 2px;
    stroke: #999;
}

/* Note */

.note {
    padding: 0 1em;
}
